@if (!loading()) {
  <form class="hero-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="e.g. Spider-Man" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Power</mat-label>
      <mat-select formControlName="powerId">
        @for (power of powers(); track power.id) {
          <mat-option [value]="power.id">{{ power.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select formControlName="publisherId">
        @for (publisher of publishers(); track publisher.id) {
          <mat-option [value]="publisher.id">{{ publisher.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>First appearance</mat-label>
      <input matInput type="number" formControlName="firstAppearance" placeholder="e.g. 1962" />
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="form.invalid">{{buttonText()}}</button>

  </form>
}
