.second-level {
  &__loading {
    color: var(--color-text-inverse);
    text-align: center;
    padding: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &__back {
      color: var(--color-text-inverse) !important;
      margin-bottom: 1.5rem;
    }

    &__actions {
    }
  }
}
