<div class="second-level">
  <div class="second-level__header">
    <button mat-button class="second-level__header__back" (click)="goBack()">← Back</button>

    <div class="second-level__header__actions">
      @if (secondLevelService.actionsPortal()) {
        <ng-template class="second-level__header__actions__content" [cdkPortalOutlet]="secondLevelService.actionsPortal()!"></ng-template>
      }
    </div>
  </div>

  @if (loading()) {
    <div class="second-level__loading">Loading...</div>
  }

  <div class="second-level__content">
    <router-outlet />
  </div>
</div>
